@import '~react-md/src/scss/react-md';
$md-primary-color: $md-green-500;
$md-secondary-color: $md-grey-50;
$md-tertiary-color: $md-grey-900;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
